<div class="container margincontainer">
	<div class="row">
		<div class="col-sm-12">
			<p class="tittle">Все виды комплектующих</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Подоконники</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-1.png"> Изделия из пластика могут имитировать дерево, камень и мрамор, обладают отличной термоизоляцией и неприхотливы в уходе.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">250</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Откосы</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-2.png"> Откосы делаются из сендвич-панелей из ПВХ. Данные изделия обладают стойкостью к влаге, пару, пыли. Могут быть выполнены в любом цвете.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">150</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Отливы</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-3.png"> Оконный отлив необходим для скрытия зазора между рамой и проемом, защиты фасада от осадков и придания конструкции законченного вида.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">120</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Ламинация профиля "под дерево"</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-4.png"> Оконный профиль может быть ламинирован пленками LG в 54 различных оттенка. Возможна как односторонняя, так и двусторонняя ламинация.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">2 600</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Раскладка внутри стеклопакета</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-5.png"> Раскладка - стильная деталь Вашего окна. Декоративная раскладка внутри стеклопакета может быть выполнена из ПВХ полосок или металлических прутьев</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">700</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Фирменные ручки</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-6.png"> Изящные фирменные ручки компании ROTO подходят для любого дизайна оконной конструкции. Они изготовлены из пластика и алюминия.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">500</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Детские замки</p>
				<p class="windowtext"><img class="floatleft"  src="/mobile/img/com-7.png"> Детские замки напрямую влияют на безопасность. Это обязательный аксессуар, если в Вашей семье есть дети. Замки либо врезаются в ручку либо ставятся под створку.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">600</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Москитные сетки</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/com-8.png"> Москитные сетки производятся индивидуально под каждое окно. В комплект также входят крепления. Москитные сетки могут быть окрашены в любой цвет.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">350</span> руб</p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>	