<div class="container margincontainer">
	<div class="row">
		<div class="col-sm-12">
			<p class="tittle">Комплектации окон ПВХ</p>
			<p class="littletext">возможны любые комбинации</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="col100">
		<div class="shadowforboxwindow">
				<p class="windowheader">KBE 58 GUT</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/58.png"> Окна профильной системы KBE 58 – это сочетание немецкого качества, функциональности и низкой цены. Рекомендуем для дачи, небольшой квартиры, балкона</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">2 725</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">KBE 70 BAU</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/70.png"> Окна профильной системы KBE 70 — современные эстетичные модели окон с повышенной теплоизоляцией, очень удобными режимами открывания и закрывания. Классика для Российской квартиры!</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">3 216</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col100">
		<div class="shadowforboxwindow">
				<p class="windowheader">KBE 76 V1</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/76.png"> Окна профильной системы KBE 76 — Премиум-класс без сомнений! Увеличенная толщина профиля с камерами делает окно максимально теплым и долговечным. Рекомендуем для домов и коттеджей.</p>
				<div class="md100">
					<div class="md50 textalign">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">3 979</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Однокамерный стеклопакет</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/onecam.png"> Преимуществом однокамерных стеклопакетов является их низкая стоимость, так как благодаря минимальному количеству стекол и легкому весу конструкции облегчается процесс изготовления.</p>
				<div class="md100">
					<p style="text-align: center;"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col100">
		<div class="shadowforboxwindow">
				<p class="windowheader">Двухкамерный стеклопакет</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/twocam.png"> Двойные пластиковые окна являются самым универсальным вариантом из всех возможных – их можно устанавливать в любых типах помещений.</p>
				<div class="md100">
					<p style="text-align: center;"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
				</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Энергосберегающий стеклопакет</p>
				<p class="windowtext"><img class="floatleft" src="/mobile/img/threcam.png"> Энергосберегающие стеклопакеты отличаются наличием низкоэмиссионного покрытия. Напыление пропускает УФ-лучи и не дает уходить теплу, отражая его потоки.</p>
				<div class="md100">
					<p style="text-align: center;"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col100">
		<div class="shadowforboxwindow">
			<p class="windowheader">Эконом фурнитура</p>
				<p class="imgblock1"><img src="/mobile/img/axor.png"></p>
				<p class="windowtext">Axor — фурнитура, отвечающая европейским и отечественным требованиям. Комплектующие обеспечивают комфортную эксплуатацию окон.</p>
				<div class="md100">
					<p style="text-align: center;"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
				</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Премиум фурнитура</p>
				<p class="imgblock1"><img src="/mobile/img/siegenia.png"></p>
				<p class="windowtext">Немецкая фурнитура Siegenia является одним из лидеров на рынке оконной фурнитуры в вопросах долговечности и прочности изделий.</p>
				<div class="md100">
					<p style="text-align: center;"><a href="#" class="enjoy-css b24-web-form-popup-btn-48">Заказать</a></p>
				</div>
			</div>
		</div>
	</div>
</div>