<div class="container margincontainer">
	<div class="footer">
		<div class="col100 footermenu">
			<ul>
				<li><a href="/mobile/">Окна ПВХ</a></li>
				<li><a href="/mobile/osteklenie-balkonov">Балконы</a></li>
				<li><a href="/mobile/dveri-i-vhodnye-gruppy">Двери</a></li>
				<li><a href="/mobile/nestandartnye-okna">Нестандартные окна</a></li>
			</ul>
		</div>
		<div class="col100">
			<div class="col33 Facebook"><img src="/mobile/img/youtube.png"></div>
			<div class="col33 instagram"><img src="/mobile/img/instagram.png"></div>
			<div class="col33 VK"><img src="/mobile/img/VK.png"></div>
		</div>
		<div class="col100">
			<p class="textalign phonefooter"><a href="<? include('./template/ahreftel.html'); ?>"><? include('./template/telephone.html'); ?></a></p>
		</div>
		<div class="col100">
			<p class="textalign"><a class="enjoy-css b24-web-form-popup-btn-48" href="#" style="cursor: pointer;">Вызвать замерщика</a></p>
		</div>
	</div>
		 <script id="bx24_form_link" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://tmk24.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"48","lang":"ru","sec":"iy5ik9","type":"link","click":""});
</script>
</div>
