  <div class="wsmenucontainer clearfix">
    <div class="overlapblackbg"></div>
    <div class="wsmobileheader clearfix">
        <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        <a class="smallogo"><img class="mainlogoheader" src="/mobile/img/Logotip.png"></a>
        <a class="callusicon" href="<? include('./template/ahreftel.html'); ?>"><span class="fa fa-phone"></span></a>
    </div>
    <div class="headtoppart clearfix">
        <div class="headerwp">
            <header id="header">
              <div class="container mainheadersir">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
                <div class="logoitself"></div>    
			</div>
            <div class="col-sm-4 col-md-4 col-lg-4 markerblock"></div>            
			<div class="col-sm-4 col-md-6 col-lg-4 mobiledisplaynone"><div class="header-zvon"></div></div>
		</div>
	</div>    
            </header>
        </div>    
    </div>    


    <script>
                                document['addEventListener']('touchstart', function () {}, false);
                                $(function () {
                                    $('#wsnavtoggle')['click'](function () {
                                        $('.wsmenucontainer')['toggleClass']('wsoffcanvasopener')
                                    });
                                    $('.overlapblackbg')['click'](function () {
                                        $('.wsmenucontainer')['removeClass']('wsoffcanvasopener')
                                    });
                                    $('.wsmenu-list> li')['has']('.wsmenu-submenu')['prepend']('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-list > li')['has']('.megamenu')['prepend']('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-click')['click'](function () {
                                        $(this)['toggleClass']('ws-activearrow')['parent']()['siblings']()['children']()['removeClass']('ws-activearrow');
                                        $('.wsmenu-submenu, .megamenu')['not']($(this)['siblings']('.wsmenu-submenu, .megamenu'))['slideUp']('.slow');
                                        $(this)['siblings']('.wsmenu-submenu')['slideToggle']('slow');
                                        $(this)['siblings']('.megamenu')['slideToggle']('slow')
                                    });
                                    $('.wsmenu-list > li > ul > li')['has']('.wsmenu-submenu-sub')['prepend']('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-list > li > ul > li > ul > li')['has']('.wsmenu-submenu-sub-sub')['prepend']('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-click02')['click'](function () {
                                        $(this)['children']('.wsmenu-arrow')['toggleClass']('wsmenu-rotate');
                                        $(this)['siblings']('.wsmenu-submenu-sub')['slideToggle']('slow');
                                        $(this)['siblings']('.wsmenu-submenu-sub-sub')['slideToggle']('slow')
                                    })
                                });
    </script>
    <div id="navbar">
        <div class="headerfull">
            <div class="container kpd">
                <div class="wsmain">
                    <div class="smllogo"><a href="#"><img src="/mobile/img/1logo.png" alt=""></a></div>
                    <nav class="wsmenu clearfix">
                        <ul class="mobile-sub wsmenu-list">
						  <li> <a href="/mobile/" class="menuhomeicon"><i aria-hidden="true"></i>Окна ПВХ</a></li>
                          <li> <a href="/mobile/osteklenie-balkonov" class="menuhomeicon"><i aria-hidden="true"></i>Балконы</a></li>
                          <li> <a href="/mobile/dveri-i-vhodnye-gruppy" class="menuhomeicon"><i aria-hidden="true"></i>Двери</a></li>
                          <li> <a href="/mobile/nestandartnye-okna" class="menuhomeicon"><i aria-hidden="true"></i>Нестандартные окна</a></li>
                        </ul>
                    </nav>
						</div>
					</div>
				</div>
			</div>