<div class="container margincontainer">
	<div class="row">
		<div class="col-sm-12">
			<p class="tittle">Акции от компании ТМК</p>
		</div>
	</div>
</div>
<div class="container margincontainer">
	<section class="saleslide slider">
			<div>
				<p class="textalign"><a href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><img class="textalign" src="/mobile/img/sale-1.jpg"></a></p>
      		</div>
      		<div>
				<p class="textalign"><a href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><img class="textalign" src="/mobile/img/sale-2.jpg"></a></p>
      		</div>
      		<div>
				<p class="textalign"><a href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><img class="textalign" src="/mobile/img/sale-3.jpg"></a></p>
      		</div>
      		<div>
				<p class="textalign"><a href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><img class="textalign" src="/mobile/img/sale-4.jpg"></a></p>
      		</div>
      		<div>
				<p class="textalign"><a href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><img class="textalign" src="/mobile/img/sale-5.jpg"></a></p>
      		</div>
      		<div>
				<p class="textalign"><a href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><img class="textalign" src="/mobile/img/sale-6.jpg"></a></p>
      		</div>
    </section>  			
</div>