<div class="container margincontainer">
	<div class="row">
		<div class="col-sm-12">
			<p class="tittle">Мы также производим:</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Остекление балконов</p>
				<p class="windowtext"><img class="floatleft" style="margin-left: -7px;" src="/mobile/img/my-1.png"> Теплое и холодное остекление. ПВХ и алюминиевые конструкции. Делаем балконы с выносом, утеплением и отделкой.</p>
				<div class="md100">
					<div class="md50 textalign alsobloc">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">3 210</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css3 b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
							<p><a style="color:#0C0C0C;" href="/mobile/osteklenie-balkonov">Подробнее</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="imgblock1"></p>
				<p class="windowheader">Изделия нестандартных форм</p>
				<p class="windowtext"><img class="floatleft" style="margin-left: -7px;" src="/mobile/img/my-4.png"> Изготавливаем круглые, треугольные, арочные и многие другие окна. Заказ любой сложности изготовим с легкостью!</p>
				<div class="md100">
					<div class="md50 textalign alsobloc">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">5 600</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css3 b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
							<p><a style="color:#0C0C0C;" href="/mobile/nestandartnye-okna">Подробнее</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Двери ПВХ</p>
				<p class="windowtext"><img class="floatleft" style="margin-left: -9px;" src="/mobile/img/my-2.png"> Входные Двери и входные группы из ПВХ и алюминиевого профиля. Изготавливаем на заказ и устанавливаем конструкции любой сложности.</p>
				<div class="md100">
					<div class="md50 textalign alsobloc">
							<p class="littlecost">Цена от</p>
							<p class="windowcost"><span class="costwindow">4 200</span> руб/м<sup>2</sup></p>
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css3 b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
							<p><a style="color:#0C0C0C;" href="/mobile/dveri-i-vhodnye-gruppy">Подробнее</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col100">
			<div class="shadowforboxwindow">
				<p class="windowheader">Спец. условия застройщикам</p>
				<p class="windowtext"><img class="floatleft" style="margin-left: -9px;" src="/mobile/img/my-4.jpg"> Наш завод способен производить 3000 ПВХ изделий в сутки. В нашем автопарке 55 собственных грузовиков, способных обеспечить бесперебойную доставку. Давайте обсудим условия!</p>
				<div class="md100">
					<div class="md50 textalign alsobloc">
							
					</div>
					<div class="md50 textalign">
							<p class="windowbutton"><a href="#" class="enjoy-css3 b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
					</div>
				</div>
			</div>
		</div>
</div>