<div class="container margincontainer">
	<div class="zamershik">
		<div class="col100">
			<p class="tittlezamershik">Вызовите замерщика - поможем определиться!</p>
			<p class="textzamershik">Позвоните нам по телефону</p>
			<p class="textzamershik"><a class="phonezamershik" href="<? include('./template/ahreftel.html'); ?>"><? include('./template/telephone.html'); ?></a></p>
			<p class="textzamershik">или оставьте заявку</p>
			<div class="col50">
				<p class="textzamershik"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Вызвать замерщика</a></p>
				<p class="textzamershik">Это бесплатно!</p>
				<p class="textzamershik">Приедем сегодня до 14:00</p>
			</div>
			<div class="col50"></div>
		</div>
	</div>
</div>