<div class="orangeBox">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 rassrochkaman">	
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">	
				<div class="zamer">
					<p class="zamertittle">ВЫЗОВИТЕ ЗАМЕРЩИКА И ПОЛУЧИТЕ ТОЧНЫЙ РАСЧЕТ!</p>
					<p class="zamerundertittle">Для изготовления Вашего потолка по мировым стандартам, нам нужны лишь точные размеры. Запишитесь на замер!</p>
					<div class="col-sm-12 col-md-12 col-lg-12 mobilebuttontext"><a class="buttonsundercalc2 textbuttonrassrochka" href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Вызвать замерщика</a></div>
				</div>
			</div>
		</div>
	</div>
</div>