<div class="footer">
  <div class="container">
    <div style="padding: 32px 0px 10px 0px;" class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="footerlogo"><a href="index.html"><img src="/img/logobezteksta.png"></a></div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 hideonmobile">
        <ul class="footertextwhite">
          <li><a href="/">О нас</a></li>
          <li><a href="/okna-pvh">Окна ПВХ</a></li>
          <li><a href="/osteklenie-balkonov">Балконы и лоджии</a></li>
          <li><a href="/cottage">Окна в коттедж</a></li>
          <li><a href="/dveri-i-vhodnye-gruppy">Двери и входные группы</a></li>
          <li><a href="/nestandartnye-okna">Нестандартные окна</a></li>
          <li><a href="/uslugi">Декорированные окна</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 hideonmobile">
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 3}, 166564317);
</script>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 hideonmobile">
        <div style="margin-top: 14%;" class="header-zvonfone">
                            <div class="header-zvon-phone"><a href="<? include('./template/ahreftel.html'); ?>"><img src="/img/phone.png" alt="img"><span class="footerphone"><? include('./template/telephone.html'); ?></span></a></div>
                            <div class="header-zvon-zak ">
                                <a class="callorder2 footerbuble b24-web-form-popup-btn-48" style="color:white;">заказать звонок</a>
                                <div class="egednevnofooter">Ежедневно:<span>с 9:00 до 20:00</span></div>
                            </div>
                        </div>
      </div>
    </div>
  </div>
</div>
<script id="bx24_form_link" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://tmk24.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"48","lang":"ru","sec":"iy5ik9","type":"link","click":""});
</script>