<div class="container margintop45px">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p class="nearsliedrtext">У Вас остались вопросы?</p>
      <p>Позвоните нам или оставьте заявку и мы с радостью проконсультируем Вас и подберем наиболее подходящее решение!</p>
      <h3 id="mapyakor"><b><a style="text-decoration: none; color: #000;" href="<? include('./template/ahreftel.html'); ?>"><? include('./template/telephone.html'); ?></a></b></h3>
Адреса офисов в Тульской области:
<ul>
  <li>Белёв, улица Карла Маркса, 82</li>
  <li>Тула, ул. Кауля, д. 10</li>
  <li>Щекино, ул. Емельянова, д. 22</li>
  <li>Тула, улица Кирова, 25</li>
  <li>Кимовск, ул. Крылова, д. 4</li>
  <li>Новомосковск, ул Комсомольская д. 7</li>
  <li>Ефремов, ул. Свердлова, д. 33</li>
  <li>Алексин, ул. Тульская, 136а</li>
  <li>Тула, ул. 9 мая, д. 6</li>
  <li>Тула, ул. Вильямса, д. 26</li>
  <li>Донской, микрорайон Северо-Задонск, улица Ленина, 4</li>
  <li>Тула, ул.Октябрьская , д.38</li>
  <li>Венев ул. Красноармейская д. 2, корп. 2</li>
  <li>Суворов, площадь Победы, д. 3</li>
  <li>Новомосковск, ул. Шахтеров д. 15/13</li>
  <li>Узловая, ул. Октябрьская, д. 31</li>
  <li>Киреевск, ул. Ленина д. 16</li>
  <li>Богородицк, ул.Карла Маркса д. 52</li>
  <li>Ефремов, ул. Горького, д. 68</li>
  <li>Бобрик-Донской, ул. Октябрьская, д. 65</li>
  <li>Щекино, ул. Советская, д. 16</li>
</ul>
      </div>  
<div class="col-sm-12 col-md-8 col-lg8">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A48184c8fbb09eb7f5c0e9690cbb2cdd2375b5a1d8e8d9cda0b87ff295085490a&amp;width=100%25&amp;height=482&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
       </div>
  </div>
</div>    
     