<div class="container city margintop45px">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h2 style="text-align: center;">Отзывы наших клиентов</h2>
			<section class="responsive3">
				<div>
					<div class="row margintop45px">
      					<div class="col-sm-2 col-md-2 col-lg-2">
      						<a data-fancybox="gallery2" href="/img/oz-1.jpg"><img src="/img/mini-oz-1.jpg"></a>
      					</div>
      					<div class="col-sm-7 col-md-7 col-lg-7">
      						<p>Заказывала окна через сайта. Сама проживаю в Москве. Компания нормальная, взятые на себя обязательства выполнила! Мастер на замер приехал вовремя! Установка была качественная и на совесть! Спасибо!</p>
      					</div>
      					<div class="col-sm-3 col-md-3 col-lg-3">
      						<p><strong>Чаримова Ирина</strong></p>
      						<p>Договор №402/15</p>
      						<p>11.11.2016</p>
      					</div>
      				</div>
    			</div>
    			<div>
					<div class="row margintop45px">
      					<div class="col-sm-2 col-md-2 col-lg-2">
      						<a data-fancybox="gallery2" href="/img/oz-2.jpg"><img src="/img/mini-oz-2.jpg"></a>
      					</div>
      					<div class="col-sm-7 col-md-7 col-lg-7">
      						<p>Недавно заказывали остекление лоджии в компании ТМК. Обратились туда по совету знакомых. Зашли на сайт данной компании, изучили технологию, цены, отзывы. Всё устроило, решили заказать. Менеджер помог с выбором, за что большое спасибо, т.к. ничего не знали. Был составлен договор, в котором четко прописывались сроки. Мы могли принять из только в выходные (эти условия заранее оговорили менеджерам), но по определенным обстоятельствам с нашей сторон пришлось выйти за сроки договора. Думали, придется платить неустойку. На наши счастье, нам пошли на уступки и мы заплатили сумму по договору. Спасибо за понимание и качественный монтаж!</p>
      					</div>
      					<div class="col-sm-3 col-md-3 col-lg-3">
      						<p><strong>Волгина И.С.</strong></p>
      						<p>Договор №254/3</p>
      						<p>12.01.2016</p>
      					</div>
      				</div>
    			</div>
    			<div>
					<div class="row margintop45px">
      					<div class="col-sm-2 col-md-2 col-lg-2">
      						<a data-fancybox="gallery2" href="/img/oz-3.jpg"><img src="/img/mini-oz-3.jpg"></a>
      					</div>
      					<div class="col-sm-7 col-md-7 col-lg-7">
      						<p>Добрый день! Я из города Москва. Заказывала окна в компании ТМК через интернет магазин. Мне всё понравилось! Мастер на замер приехал вовремя, договор заключили не выходя из дома! Установка отличная! Цена не дорогая! Грамотные сотрудники, на все вопросы ответили. Отличная компания ТМК! Рекомендую!</p>
      					</div>
      					<div class="col-sm-3 col-md-3 col-lg-3">
      						<p><strong>Лукьянова Анна</strong></p>
      						<p>Договор №0605/4</p>
      						<p>03.2017</p>
      					</div>
      				</div>
    			</div>
    			<div>
					<div class="row margintop45px">
      					<div class="col-sm-2 col-md-2 col-lg-2">
      						<a data-fancybox="gallery2" href="/img/oz-4.jpg"><img src="/img/mini-oz-4.jpg"></a>
      					</div>
      					<div class="col-sm-7 col-md-7 col-lg-7">
      						<p>Обратилась в компанию ТМК по рекомендации друзей. По телефону вызвали замерщика (он приехал в тот же день). Специалист не только замерил окна, но и дал рекомендации, какой профиль лучше выбрать. Оказывается в этом деле столько тонкостей! В скором времени мои окна уже были готовы. Довольна и оперативностью и мастерством работников. Марина, Тверь.</p>
      					</div>
      					<div class="col-sm-3 col-md-3 col-lg-3">
      						<p><strong>Полякова М.Н.</strong></p>
      						<p>Договор №002/158</p>
      						<p>27.03.2017</p>
      					</div>
      				</div>
    			</div>
    			<div>
					<div class="row margintop45px">
      					<div class="col-sm-2 col-md-2 col-lg-2">
      						<a data-fancybox="gallery2" href="/img/oz-5.jpg"><img src="/img/mini-oz-5.jpg"></a>
      					</div>
      					<div class="col-sm-7 col-md-7 col-lg-7">
      						<p>После покупки квартиры, решила поменять окна. В данную компанию обращаюсь второй раз (покупала металлическую дверь), осталась довольна. Подкупило доброжелательное отношение менеджеров. Они очень доступно и профессионально рассказали мне об окнах, подобрали наиболее подходящую для меня конфигурацию окон, и всю к ним фурнитуру (подоконники, откосы). Монтажники установили все качественно! Осталась очень довольна. Буду рекомендовать знакомым.</p>
      					</div>
      					<div class="col-sm-3 col-md-3 col-lg-3">
      						<p><strong>Сорокина О.А.</strong></p>
      						<p>Договор №602/67</p>
      						<p>14.04.2017</p>
      					</div>
      				</div>
    			</div>
			</section>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="./slick-master/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
              $('.responsive3').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplaySpeed: 1000,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 425,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});

  </script>
