<div class="container margintop45px">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <h2 class="marginbotom37px">Наши работы</h2>
      <p>Примеры наших работ на для розничных покупателей. Окна от «ТМК» могут порекомендовать уже более 3 млн. наших клиентов!</p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="container margintop45px">
    <section class="responsive1 slider">
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0086-1024x1024.jpg"><img src="/img/IMG-20171220-WA0086-1024x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0085-1024x1024.jpg"><img src="/img/IMG-20171220-WA0085-1024x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0084-1024x1024.jpg"><img src="/img/IMG-20171220-WA0084-1024x1024.jpg"></a>
      </div>
      <div>
        <a data-fancybox="gallery" href="/img/IMG-20171220-WA0075-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0075-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
        <a data-fancybox="gallery" href="/img/IMG-20171220-WA0073-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0073-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
        <a data-fancybox="gallery" href="/img/IMG-20171220-WA0072-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0072-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
        <a data-fancybox="gallery" href="/img/IMG-20171220-WA0051-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0051-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0034-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0034-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0022-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0022-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0017-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0017-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/IMG-20171220-WA0006-768x1024-768x1024-768x1024.jpg"><img src="/img/IMG-20171220-WA0006-768x1024-768x1024-768x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/19-big-614x1024-614x1024-614x1024.jpg"><img src="/img/19-big-614x1024-614x1024-614x1024.jpg"></a>
      </div>
      <div>
          <a data-fancybox="gallery" href="/img/11-1-679x1024-679x1024-679x1024.jpg"><img src="/img/11-1-679x1024-679x1024-679x1024.jpg"></a>
      </div>
       <div>
          <a data-fancybox="gallery" href="/img/1-1024x593-1024x593-1024x593.jpg"><img src="/img/1-1024x593-1024x593-1024x593.jpg"></a>
      </div>
      </section>
    </div>
    </div>
  </div>
</div>