<div class="container tulaphone margintop45px">
  <div class="row">
    <div class="col-md-10 col-lg-10">
      <p class="tulaphoneheader">За 8 лет мы установили более 46 000 пластиковых<br> и около 5 000 алюминиевых конструкций в Туле</p>
    </div>
    <div class="col-md-2 col-lg-2">
      <p><img style="width: 100%" src="/img/Tula-rombik.png"></p>
    </div>
    <div class="col-md-3 col-lg-3 orangesolidright">
      <p class="bigwhitenumbers">27 000</p>
      <p class="bigwhiteletters">Жителей Тулы за 8 лет стали клиентами ТМК</p>
    </div>
    <div class="col-md-3 col-lg-3 orangesolidright">
      <p class="bigwhitenumbers">273</p>
      <p class="bigwhiteletters">Филиала ТМК работает в регионах ЦФО</p>
    </div>
    <div class="col-md-3 col-lg-3 orangesolidright">
      <p class="bigwhitenumbers">4 500</p>
      <p class="bigwhiteletters">Изделий в сутки производит завод ТМК</p>
    </div>
    <div class="col-md-3 col-lg-3">
      <p class="bigwhitenumbers">1</p>
      <p class="bigwhiteletters">Окно от ТМК сделает вашу комнату теплее на 20% и больше</p>
    </div>
  </div>
</div>