<div class="container display426none">
  <div class="row">
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Глухое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/1.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <p class="strikethroughtext">4 118 руб</p>
                <p class="mycost"><span class="littlebignumbers">2 778</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
         </div>
    </div>
     <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12 ">
                <p class="headerslidercart">Двухстворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/2-4.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="strikethroughtext">10 246 руб</p>
                <p class="mycost"><span class="littlebignumbers">6 995</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
            </div>
    </div>
     <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Балконный блок</p>
                <p class="imgblock"><img class="imgblock" src="/img/3-4.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="strikethroughtext">16 170 руб</p>
                <p class="mycost"><span class="littlebignumbers">12 771</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
            </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Трехстворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/4-5.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="strikethroughtext">13 530 руб</p>
                <p class="mycost"><span class="littlebignumbers">9 627</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Вертикальное одностворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/5-5.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
              <p class="strikethroughtext">3 122 руб</p>
                <p class="mycost"><span class="littlebignumbers">2 422</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Вертикальное одностворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/9.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">4 746 руб</p>
             <p class="mycost"><span class="littlebignumbers">3 433</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное одностворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/6-5.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">3 726 руб</p>
                <p class="mycost"><span class="littlebignumbers">2 880</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное одностворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/7-1.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">4 842 руб</p>
                <p class="mycost"><span class="littlebignumbers">3 640</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное двухстворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/11.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">12 197 руб</p>
                <p class="mycost"><span class="littlebignumbers">8 940</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное двухстворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/12-3.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">12 864 руб</p>
                <p class="mycost"><span class="littlebignumbers">9 154</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Двустворчатое окно с фрамугой</p>
                <p class="imgblock"><img class="imgblock" src="/img/12-3.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">11 611 руб</p>
                <p class="mycost"><span class="littlebignumbers">8 858</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное двустворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/10-2.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
             <p class="strikethroughtext">7 055 руб</p>
                <p class="mycost"><span class="littlebignumbers">5 349</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
     <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное двустворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/14.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="strikethroughtext">10 404 руб</p>
                <p class="mycost"><span class="littlebignumbers">7 654</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное двустворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/15.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="strikethroughtext">11 801 руб</p>
                <p class="mycost"><span class="littlebignumbers">8 677</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное трехстворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/16.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="strikethroughtext">12 479 руб</p>
                <p class="mycost"><span class="littlebignumbers">9 146</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-4 a7pxboot">
        <div class="row shadowforbox">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="headerslidercart">Распашное трехстворчатое окно</p>
                <p class="imgblock"><img class="imgblock" src="/img/17.jpg"></p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="strikethroughtext">15 670 руб</p>
                <p class="mycost"><span class="littlebignumbers">9 998</span> руб</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
               <p class="bysomething"><a href="#" class="enjoy-css b24-web-form-popup-btn-48" style="cursor: pointer;">Заказать</a></p>
              </div>
          </div>
    </div>
  </div>
</div>