@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body{
    font-family:'Roboto', sans-serif;
    padding:0;
    margin:0;
    font-size: 14px;
}
.fa-phone:before {
    content: "\f095";
    color: white;
}
.mobile_banner {
    background-color: #20124D;
    margin-top: 48px;
}
.textaligncenter{
  text-align: center;
  padding: 15px 0px;
}
.textalign{
  text-align: center;
}
.firstbannerheader{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 7px 0px 0px 0px;
}
.firstbannersecondline{
    text-align: center;
    color: #E77C00;
    font-size: 20px;
    margin-top: -12px;
}
span.bignumbers {
    font-size: 39px;
    font-weight: 600;
}
.firstbannerthirdline{
    text-align: center;
    color: white;
    margin-top: -12px;
}
.footermenu {
    text-align: center;
}
.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  -webkit-border-radius: 16px;
  border-radius: 16px;
   color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ff0000;
}

.enjoy-css:hover {
  background: #ef5151;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.enjoy-css3 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  -webkit-border-radius: 16px;
  border-radius: 16px;
   color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ff0000;
}

.enjoy-css3:hover {
  background: #ef5151;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
a {
  text-decoration: none;
  color:white;
}
a:hover {
  color:white;
  text-decoration: none;
}
.margincontainer{
      margin-top: 25px;
}
.tittle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #0C0C0C;
}
.shadowforbox {
    -webkit-box-shadow: 0px 9px 21px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 21px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 21px -2px rgba(0,0,0,0.75);
    margin: 0px 20px 0px 20px;
    padding-top: 15px;
    min-height: 401px;
}
.headerslidercart{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.imgblock{
  text-align: center;
  width: 100%;
}
.col100{
  width:100%;
  display: table;
}
.col50{
  width:50%;
  display: inline-block;
      vertical-align: bottom;
}
.md100{
  width:100%;
  display: table;
}
.md50{
  width:50%;
  display: inline-block;
  text-align: center;
}
p.strikethroughtext {
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-bottom: 0px;
}
.mycost{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}
span.littlebignumbers {
    font-size: 19px;
    font-weight: 900;
}
.strikethroughtext:before {
    content: url(/mobile/img/novaya_linia.png);
    margin-top: 2px;
    margin-left: -6px;
    position: absolute;
}
.bysomething{
  text-align: center;
  margin-top: 8px;
}
.imgblock1{
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
.typewindow {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.littletext{
     font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: -14px;
}
.shadowforboxwindow {
        margin: 8px 8px;
    border: 1px solid;
}
.textalign {
    text-align: center;
}
p.windowheader {
        text-align: center;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    line-height: 20px;
}
.windowtext {
    padding: 0px 13px 1px;
}
.littlecostwindow{
    margin-left: 11px;
    font-size: 11px;
    margin-bottom: -2px;
}
span.littlebignumberswindow {
    font-size: 14px;
    font-weight: 900;
}
.marginforslider{
  margin-top: 8px;
}
.margintop18px{
  margin-top: 18px;
}
p.littlecost {
    font-size: 11px;
    margin-left: 14px;
    margin-bottom: -2px;
}
.windowcost {
    margin-left: 3px;
    margin-top: -2px;
    font-size: 21px;
}
.windowbutton .enjoy-css {
    font-size: 15px;
    padding: 4px 16px;
}
.costwindow{
  font-weight: 600;
  background-color: #FFFF01;
}
.zamershik, .zamershik1, .footer{
  background-color: #20124D;
}
.tittlezamershik {
    color: white;
    text-align: center;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 500;
}
.zamershiktext {
    text-align: center;
    color: white;
}
.textzamershik{
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 4px;
}
.phonezamershik{
    text-align: center;
    font-size: 19px;
    line-height: 15px;
}
.zamershik:after {
    content: url(/mobile/img/zamershikafter.png);
    margin-top: -126px;
    margin-left: 201px;
    position: absolute;
}
.zamershik1:after{
    content: url(/mobile/img/zamershikafter1.png);
    margin-top: -126px;
    margin-left: 212px;
    position: absolute;
}
.slick-slide img {
    display: inline !important;
}
.videomainblock{
   width:300px; 
  height:169px;
}
.col50.abzorb {
    position: absolute;
    top: 26px;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
    margin-left: 0; 
    padding-left: 0;
    font-size: 17px;
    padding: 0px 6px;
    margin-top: 10px;
   }
ul li {
  display: inline;
}
ul li {
    display: inline;
    padding: 0px 7px;
}   
.col33{
    width:33%;
    display: inline-block;
}
.Facebook{
    text-align: right;
}
.instagram{
    text-align: center;
}
.VK{
    text-align: left;
}
.phonefooter{
    margin-top: 8px;
    font-size: 20px;
}
.col75{
    width: 75%;
    display: inline-block;
}
.col25{
    width: 25%; 
    display: inline-block;
}
.col35{
    width: 35%; 
    display: inline-block;
}
.col65{
    width: 65%; 
    display: inline-block;
}
.balconbanner{
  margin-top: 22px;
  background-image: url(/mobile/img/balkon.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  min-height: 186px;
}
.warmandcold{
   margin-top: 55px;
  background-image: url(/mobile/img/warmandcold.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  min-height: 200px;
}
.warmandcold1line{
        position: absolute;
    margin-top: -12px;
    text-transform: uppercase;
    font-size: 19px;
    right: 15px;
}
.balconbanner1line{
    position: absolute;
    margin-top: -12px;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    right: 14px;
}
.warmandcold2line{
            position: absolute;
    margin-top: 4px;
    font-size: 19px;
    right: 62px;
}
.balconbanner2line{
      position: absolute;
    color: white;
    margin-top: 6px;
    font-size: 12px;
    right: 14px;
}
.balconbanner3line{
          position: absolute;
    margin-top: 18px;
    color: white;
    right: 16px;
}
.warmandcold3line{
    position: absolute;
    margin-top: 21px;
    right: 25px;
    text-transform: uppercase;
    font-size: 19px;
}
.balocnbignumbers{
  font-size: 19px;
}
.balconbanner4line{
          position: absolute;
    color: white;
    margin-top: 56px;
    font-size: 9px;
    right: 26px;
}
.warmandcold4line{
          position: absolute;
    margin-top: 48px;
    font-size: 11px;
    right: 18px;
}
.balconbanner5line{
   position: absolute;
    color: white;
    margin-top: 82px;
    font-size: 9px;
    right: 11px;
}
.warmandcold5line {
    position: absolute;
    margin-top: 71px;
    font-size: 10px;
    right: 60px;
}
.warmandcold6line{
           position: absolute;
    margin-top: 101px;
    font-size: 10px;
    right: 34px;
}
.balconbanner6line{
       position: absolute;
    color: white;
    margin-top: 108px;
    font-size: 9px;
    right: 12px;
}
.balconbanner7line{
      position: absolute;
    color: white;
    margin-top: 133px;
    font-size: 9px;
    right: 36px;
}
.warmandcold7line{
       position: absolute;
    margin-top: 133px;
    font-size: 10px;
    right: 34px;
}
.warmandcold8line{
    position: absolute;
    margin-top: 150px;
    font-size: 10px;
    right: 10px;
}
.balconenjoy-css{
        position: absolute;
    margin-top: 140px;
    left: 130px;
}
.nestandart{
  background-image: url(/mobile/img/nestandart.jpg);
     margin-top: 70px;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  min-height: 186px;
}
p.underbanner {
    margin-top: 16px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}
.problemslider{
  width: 222px;
}
.nestandartokno1line{
      position: absolute;
    top: 82px;
    right: 50px;
    text-transform: uppercase;
    font-size: 16px;
}
.nestandartokno2line {
    position: absolute;
    top: 100px;
    right: 25px;
    text-transform: uppercase;
}
.nestandartokno3line {
    position: absolute;
    top: 117px;
    right: 40px;
    font-size: 12px;
}
.nestandartokno4line {
    position: absolute;
    top: 144px;
    right: 87px;
    font-size: 12px;
}
.nestandartokno5line {
        position: absolute;
    top: 164px;
    right: 2px;
    font-size: 12px;
}
.nestandartokno6line {
        position: absolute;
    top: 183px;
    right: 11px;
    font-size: 12px;
}
.nestandartokno7line{
  position: absolute;
    top: 213px;
    right: 28px;
}
p.subimg {
    text-align: center;
}
p.subtittle {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
p.subtext {
    padding: 0px 22px;
}
.dveribanner {
    background-image: url(/mobile/img/dveri-Pvkh.jpg);
    margin-top: 49px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 216px;
}
.dveributton {
    position: absolute;
    top: 224px;
    left: 30px;
}
.dveri1line{
     position: absolute;
    top: 57px;
    right: 55px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.dveri2line{
         position: absolute;
    top: 78px;
    right: 96px;
    font-weight: 600;
}
.dveri3line{
          position: absolute;
    top: 93px;
    right: 43px;
    font-weight: 600;
}
.dveri4line {
    position: absolute;
    top: 108px;
    right: 41px;
    font-weight: 600;
}
.dveri5line {
    position: absolute;
    top: 139px;
    right: 37px;
    font-size: 12px;
}
.dveri6line {
    position: absolute;
    top: 182px;
    right: 62px;
    font-size: 12px;
}
.dveri7line {
    position: absolute;
    top: 225px;
    right: 50px;
    font-size: 12px;
}
.shadowforboxdveri {
   -webkit-box-shadow: -1px 4px 17px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 17px 1px rgba(0,0,0,0.75);
box-shadow: -1px 4px 17px 1px rgba(0,0,0,0.75);
}
.imgdveri{
  padding: 8px;
    position: absolute;
        top: 367px;
}
p.dverisubtext {
    margin-top: -12px;
    padding: 2px;
    font-size: 14px;
}
p.dverisubtittle {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
p.imgdveri1 {
    top: 552px;
    position: absolute;
    left: 8px;
}
p.imgdveri2 {
    position: absolute;
    top: 733px;
    left: 9px;
}
.mainlogoheader{
      top: 1px;
    width: 137px;
    position: absolute;
    right: 155px;
}
img.textalign {
    width: 95%;
}
 .orangeblock{
      text-align: center;
    background-color: #E98614;
    position: absolute;
    top: 71px;
    left: 130px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.floatleft{
  float: left;
  margin: 0px 3px;
}
.floatleft1 {
    float: left;
    margin: 0px 8px;
}
.balconenjoy-css1 {
    margin-top: 134px;
    position: absolute;
    left: 53px;
}
.bluephone {
    background-color: #020540;
}
p.bestpricefirstline {
    color: white;
    font-size: 35px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}
p.bestpricesecondline {
    color: #ED8A30;
    font-size: 25px;
    font-weight: 600;
    margin-top: -10px;
    text-align: center;
}
p.bestpricefourthline {
    color: #ED8A30;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
p.bestpricethirdline {
    color: white;
    font-size: 17px;
    text-align: center;
}
p.bestpricefifthline {
    text-align: center;
}
.buttonsundercalc2{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    color: #fff;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #FF0000;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    
}
.buttonsundercalc2:hover {
  background: #7f1414;
  color:white;
}
.bestpricesecondblocktext {
    border-left-color: #ED8A30;
    border-left-style: solid;
    border-left-width: 7px;
    padding-left: 10px;
    font-size: 15px;
    margin-top: 16px;
}













/*Медиа запросы*/
@media (max-width: 321px){
  .firstbannerheader{
    font-size: 16px;
  }
  .col50 .enjoy-css {
    font-size: 14px;
  }
  .col50{
    width: 100%;
  }
  .windowcost {
    margin-left: 3px;
    font-size: 19px;
}
.zamershik:after {
    display: none;
}
.zamershik1:after {
    display: none;
}
.col50.abzorb {
    position: absolute;
    left: 26%;
}
.balconbanner {
       background-image: url(/mobile/img/balkon.jpg);
   }
.balconenjoy-css{
      left: 85px;
}
.warmandcold{
      background-position-x: -101px;
}
.nestandart {
    background-image: url(/mobile/img/nestandart.jpg);
    margin-top: 70px;
    background-repeat: no-repeat;
    background-position: -87px;
    background-size: cover;
    min-height: 186px;
}
.dveribanner {
    background-image: url(/mobile/img/dveri-Pvkh.jpg);
    margin-top: 70px;
    background-repeat: no-repeat;
    background-position: -117px;
    background-size: cover;
    min-height: 216px;
}
.dveributton {
    position: absolute;
    top: 239px;
    left: 2px;
    font-size: 11px;
}
.dveri1line {
    position: absolute;
    top: 84px;
    right: 33px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.dveri2line {
    position: absolute;
    top: 105px;
    right: 78px;
    font-weight: 600;
}
.dveri3line {
    position: absolute;
    top: 119px;
    right: 26px;
    font-weight: 600;
}
.dveri4line {
    position: absolute;
    top: 136px;
    right: 25px;
    font-weight: 600;
}
.dveri5line {
    position: absolute;
    top: 161px;
    right: 23px;
    font-size: 12px;
}
.dveri6line {
    position: absolute;
    top: 203px;
    right: 48px;
    font-size: 12px;
}
.dveri7line {
    position: absolute;
    top: 247px;
    right: 37px;
    font-size: 12px;
}
.imgdveri {
    padding: 6px;
    position: absolute;
    top: 427px;
}
p.dverisubtext {
    margin-top: -12px;
    line-height: 14px;
    padding-left: 23px;
    font-size: 13px;
}
p.dverisubtittle {
    font-size: 16px;
    font-weight: 600;
    padding-left: 23px;
}
p.imgdveri1 {
    top: 631px;
    position: absolute;
    left: 8px;
}
p.imgdveri2 {
    position: absolute;
    top: 835px;
    left: 9px;
}
.mainlogoheader{
  top: 1px;
    width: 137px;
    position: absolute;
    right: 98px;
}
.orangeblock{
      text-align: center;
    background-color: #E98614;
    position: absolute;
    top: 71px;
    left: 81px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.balconenjoy-css1 {
        left: 4px;
}
}

@media (max-width: 376px) and (min-width: 321px){
  .balconenjoy-css1 {
    left: 35px;
}
  .orangeblock{
      text-align: center;
    background-color: #E98614;
    position: absolute;
    top: 71px;
    left: 105px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
    .windowbutton .enjoy-css {
    font-size: 15px;
    position: absolute;
    margin-left: -44px;
    margin-top: -12px;
}
  .bysomething .enjoy-css{
        padding: 4px 13px;
  }
  .zamershik:after {
    content: url(/img/zamershikafter.png);
    margin-top: -126px;
    margin-left: 149px;
    position: absolute;
}
.zamershik1:after{
    content: url(/img/zamershikafter1.png);
    margin-top: -126px;
    margin-left: 153px;
    position: absolute;
}
.balconenjoy-css{
      left: 104px;
}
.warmandcold{
    background-position-x: -46px;
}
.balconbanner1line {
    position: absolute;
    margin-top: -12px;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    right: 1px;
}
.balconbanner2line {
    position: absolute;
    color: white;
    margin-top: 6px;
    font-size: 12px;
    right: 5px;
}
.balconbanner3line {
    position: absolute;
    margin-top: 18px;
    color: white;
    right: 8px;
}
.balconbanner4line {
    position: absolute;
    color: white;
    margin-top: 56px;
    font-size: 9px;
    right: 19px;
}
.balconbanner5line {
    position: absolute;
    color: white;
    margin-top: 82px;
    font-size: 9px;
    right: 4px;
}
.balconbanner6line {
    position: absolute;
    color: white;
    margin-top: 108px;
    font-size: 9px;
    right: 5px;
}
.balconbanner7line {
    position: absolute;
    color: white;
    margin-top: 133px;
    font-size: 9px;
    right: 30px;
}
.nestandart {
    background-image: url(/mobile/img/nestandart.jpg);
    margin-top: 70px;
    background-repeat: no-repeat;
    background-position: -42px;
    background-size: cover;
    min-height: 186px;
}
.dveribanner {
    background-image: url(/mobile/img/dveri-Pvkh.jpg);
    margin-top: 49px;
    background-repeat: no-repeat;
    background-position: -77px;
    background-size: cover;
    min-height: 216px;
}
.dveri1line {
    position: absolute;
    top: 55px;
    right: 41px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.dveri2line {
    position: absolute;
    top: 78px;
    right: 85px;
    font-weight: 600;
}
.dveri3line {
    position: absolute;
    top: 94px;
    right: 32px;
    font-weight: 600;
}
.dveri4line {
    position: absolute;
    top: 110px;
    right: 30px;
    font-weight: 600;
}
.dveri5line {
    position: absolute;
    top: 139px;
    right: 32px;
    font-size: 12px;
}
.dveri6line {
    position: absolute;
    top: 182px;
    right: 57px;
    font-size: 12px;
}
.dveri7line {
    position: absolute;
    top: 226px;
    right: 45px;
    font-size: 12px;
}
p.dverisubtext {
    margin-top: -12px;
    line-height: 14px;
    padding-left: 14px;
    font-size: 13px;
}
p.dverisubtittle {
    font-size: 16px;
    padding-left: 15px;
    font-weight: 600;
}
p.imgdveri1 {
    top: 560px;
    position: absolute;
    left: 8px;
}
p.imgdveri2 {
    position: absolute;
    top: 745px;
    left: 9px;
}
.mainlogoheader{
      top: 1px;
    width: 137px;
    position: absolute;
    right: 131px;
 }
 .imgtypenest{
  width: 89%;
 }
}
@media(max-width: 426px) and(min-width: 376px){
    .zamershik:after{
        margin-left: 201px !important;
    }
}